h1 {
font-size: 70px;
  margin: auto;
}
h3
{
  font-size: 36px;
    margin: auto;
}
h5{
  font-size: 24px;
    margin: auto;
}

blockquote {
  font-size: 24px;
      margin: auto;

      width: auto;
      height: 40px;
}
p{
  font-size: 24px;
    margin: auto;
}
body
{

  background:scroll;
  background-image: url("file:assets/ghost-tile.jpg");
  color: #ff471a;
  text-align: center;
  font-family: 'Calibri', cursive;
}

button {
  height: 50px;
  width: 180px;
  background-color: #004A48;
  color: #F7630C;
  font-size: 16px;
  margin-top: 10px;
  border-color: #4C4A48;
  margin-left: 50px;
  border-radius: 15px;
}

.text_box{
margin-top:auto;
 }

#button_row{
background-color: #005653;
height: 70px;
width: auto;
margin-bottom: 100px;
 }
 
img{
margin-top: 30px;
margin-left: 30px;
 }
 
.showcase{
background-color: #004A48;
margin: 50px;
 }

a{
color: #F7630C;
 }

.header {
margin: auto;
text-align: center;
background-color: #004A48;
height: 150px;

}

.navigation {
  height: 200px;
  width: 1000px;
  margin: auto;
  text-align: center;
}

#uwp1 {
  margin-left:150px;
float: left;
}

#imgdesc {
  float: none;
  margin-left: -200px;
}

.showcase{
  width:  auto;
  height: 1000px;

}

#notes {
  font-size: 16px;
}

table {
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: #ff471a;
  border-width: 10px;
  border-collapse: collapse;
}

th{
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: #ff471a;
  border-width: 6px;
}

strong {
  font-size: 16px;
}
