h1 {
font-size: 70px;
  margin: auto;
  
}
h3
{
  font-size: 36px;
    margin-bottom: 30px;
    margin-top: 30px;
}
h5{
  font-size: 24px;
    margin: auto;
}

blockquote {
  font-size: 24px;
      margin: auto;

      width: auto;
      height: 40px;
}
p{
  font-size: 24px;
    margin: auto;
}
body
{

  background:scroll;
  background-image: url("file:assets/pcb.jpg");
  color: #f57f17;
  text-align: center;
  font-family: 'Calibri', cursive;
}

button {
  height: 50px;
  width: 180px;
  background-color: #303030;
  color: #f57f17;
  font-size: 16px;
  margin-top: 10px;
  border-color: #303030;
  margin-left: 50px;
  border-radius: 15px;
}

.text_box{
margin-top:auto;
 }

#button_row{
background-color: #424242;
height: 70px;
width: auto;
margin-bottom: 100px;
 }
 
img{
margin-top: 90px;
margin-left: 30px;
 }
 
 #scale{
 height: 480px;
  }
  
 #app-comparison{
 height: 620px;
  }
  
 #testimonials{
 height: 200px;
  }
  
 #downloads{
 height: 400px;
  }
 
.showcase{
background-color: #303030;
margin: 50px;
width: auto;
height: 900px;
 }
.table{
margin-top: 30px;
 }
 
a{
color: #f57f17;
 }

.header {
margin: auto;
text-align: center;
background-color: #303030;
height: 150px;

}



.navigation {
  height: 200px;
  width: 1000px;
  margin: auto;
  text-align: center;
}

#uwp1 {
  margin-left:150px;
float: left;
}

#imgdesc {
  float: none;
  margin-left: -200px;
}


#notes {
  font-size: 16px;
}

table {
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: #f57f17;
  border-width: 10px;
  border-collapse: collapse;
  width: 1000px;
  margin-top: 0px;
}

th{
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: #f57f17;
  border-width: 6px;
}

strong {
  font-size: 16px;
}
